.sign-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0 15px !important;
    z-index: 20 !important;
    background: none !important;
    box-shadow: none !important;
    order: -1;
}

.sign-control__button {
    background-color: transparent;
    border: none;
    height: 20px;
    padding: 2px 0;
    cursor: pointer;
    outline: none !important;
}

.sign-control__button i::before {
    color: rgba(255, 255, 255, .7);
    font-size: 17px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.input:focus + .sign-control i::before {
    color: #66B2FF;
}

.input-component:not(.is-active):hover .sign-control i::before {
    color: #66B2FF;
}

@media (min-width: 601px) {
    .sign-control__button:hover i::before {
        color: #FFF !important;
    }
}


