body {
  min-height: 100vh;
  background-color: #031E3C;
  color: white;
  font-size: calc(10px + 2vmin);
}

.container {
  max-width: 640px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.fields-grid {
  padding-top: 32px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.input {
  box-shadow: none !important;
  border-radius: 12px;
  background-color: #132F4C;
  color: #D7DCE1;
  border-color: #1B4773;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-right: 60px;
  font-weight: 600;
}

.input:focus {
  background-color: #173a5e;
  border-color: #3399ff;
}

.input:focus + .clear-control i::before {
  color: #96c9ff;
}

.control {
  margin-right: 0 !important;
}

.control:hover .input:not(:focus) {
  background-color: #173a5e;
  border-color: #3399ff;
  z-index: 2;
}

.control.has-plus-minus input {
  padding-left: 40px;
}

.field {
  margin-bottom: 0 !important;
}

.field .label {
  color: #b2bac2;
  font-weight: 500;
  font-size: 18px;
}

.input-component.is-active * {
  pointer-events: none;
}

.input-component.is-active input {
  background-color: #014C99 !important;
  border-color: #027FFF !important;
  color: #FFFFFF !important;;
}

.input-component.is-active .sign-control.is-active i::before {
  color: #FFFFFF;
}

.input-component.is-active .percent-sign {
  color: #FFFFFF;
}

.input-component.is-active .select-button {
  background-color: #014C99;
  border-color: #027FFF !important;
}

@media (max-width: 600px) {
  .container {
    grid-gap: 28px;
  }
}